<!--Created by- https://bootsnipp.com/ishwarkatwe-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


	<div class="nav-side-menu">
		<header id="header"><p>Equipment Management System</p></header>
    <!-- <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i> -->
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Equipment</a>
                </li>   
               


                 <li>
                  <a href="#">
                  <i class="fa fa-user fa-lg"></i> Profile</a>
                  </li>

                 <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> Users</a>
                </li>
            </ul>
     </div>
</div>
